@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --navbar-color: #04beed;
    --primary-color: #13314d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}



/* Navbar */
.navbar {
    background-color: var(--navbar-color);
    color: #fff;
    height: 90px;
}

.navbar ul {
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 200px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1, .footer h1, .about h1 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

.gallery h1 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

.gallery h2 {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.showcase p {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/*
.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 50px;
    bottom: -25px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);    /* For Chrome Browser */
  /*  -moz-transform: skewY(-2deg);       /* for Mozilla */
  /*  -ms-transform: skewY(-2deg);        /* For Microsoft */
} 

/* Gallery */


/* About */ 
.about {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0 20px;
} 

.about li {
    list-style-type:square;
    margin: 0 20px;
}

/* Footer */

/* For Text in Footer */
.bg-dark {
    background-color:  #13314d;
    color: #fff;
}

/* For Links in Footer */
.bg-dark a {
    background-color:  #13314d;
    color: #fff;
}

.footer .social a {
    margin: 0 10px;
}

/* Tablets and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .gallery .grid {
    grid-template-columns: repeat(2, 1fr);
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        max-width: auto;
    }
}

/* mobile */
@media(max-width: 500px) {
    .navbar {
        height: 140px
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .grid,
    .showcase .grid,
    .gallery .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}